<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LED 13</title>
</head>
<body>
  <h1>LED 13 - Example</h1>
  <div>
    <button onclick="makeBlink()">Encender</button>
    <button onclick="stopBlink()">Apagar</button>
  </div>
  <script src="js/led13.js"></script>
</body>
</html>